<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.domain.post.repository.PostMapper">

    <!-- 1. 게시글 목록 조회 (DTO 생성자 파라미터 순서와 SELECT 컬럼 순서 일치) -->
    <select id="findVisiblePosts" resultType="com.example.demo.domain.post.dto.PostListResponse">
        SELECT
        p.post_id    AS postId,
        p.title      AS title,
        u.nickname   AS writerNickname,
        p.view_count AS viewCount,
        p.created_at AS createdAt
        FROM post p
        JOIN user u ON p.writer_id = u.user_id
        <where>
            <if test="blockerId != null">
                p.writer_id NOT IN (
                SELECT blocked_id FROM block WHERE blocker_id = #{blockerId}
                )
            </if>
        </where>
        ORDER BY p.created_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 2. 차단 제외 전체 게시글 개수 조회 -->
    <select id="countVisiblePosts" resultType="int">
        SELECT COUNT(*)
        FROM post p
        <where>
            <if test="blockerId != null">
                p.writer_id NOT IN (
                SELECT blocked_id FROM block WHERE blocker_id = #{blockerId}
                )
            </if>
        </where>
    </select>

    <!--3. 게시글 상세 조회-->
    <resultMap id="PostDetailResultMap" type="com.example.demo.domain.post.dto.PostDetailResponse">
        <id property="postId" column="postId"/>
        <result property="writerId" column="writerId"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="writerNickname" column="writerNickname"/>
        <result property="viewCount" column="viewCount"/>
        <result property="createdAt" column="createdAt"/>
    </resultMap>

    <select id="findPostDetail" resultMap="PostDetailResultMap">
        SELECT
            p.post_id    AS postId,
            p.writer_id  AS writerId,
            p.title      AS title,
            p.content    AS content,
            u.nickname   AS writerNickname,
            p.view_count AS viewCount,
            p.created_at AS createdAt
        FROM post p
                 JOIN user u ON p.writer_id = u.user_id
        WHERE p.post_id = #{postId}
    </select>

</mapper>